{
    "root": true,
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "sourceType": "module"
    },
    "extends": [
        "@nuxtjs",
        "@nuxtjs/eslint-config-typescript"
    ]
}