// @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&family=Big+Shoulders+Stencil+Display:wght@700&family=Roboto+Slab:wght@400;700&display=swap');
@import url("./font.css");

.title {
  font-family: "Big Shoulders Stencil Display", cursive;
  font-weight: bold;
}

.parallax-title {
  font-family: "Big Shoulders Stencil Display", cursive;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Big Shoulders Display", cursive;
}

p {
  font-family: "Roboto Slab", serif;
}

.container {
  margin: 0 9vh;
}
